<%- include("../partials/header") %>




    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <% if (data.length > 0) { %>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table shopping-summery text-center">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col" colspan="2">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock Status</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let i = 0; i < data.length; i++) { %>
                                            <tr>
                                                <td class="image product-thumbnail"><img src="/uploads/product-images/<%= data[i].image %>" alt="#"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html">
                                                        <%= data[i].productName %>
                                                    </a></h5>
                                                    <p class="font-xs">
                                                        <%= data[i].category %><br>
                                                        <%= data[i].brand %>
                                                    </p>
                                                </td>
                                                <td class="price" data-title="Price"><span>₹<%= data[i].salePrice %></span></td>
                                                <td class="text-center" data-title="Stock">
                                                    <span class="color3 font-weight-bold">
                                                        <% if (data[i].units > 0) { %>
                                                            <p>In Stock</p>
                                                        <% } else { %>
                                                            <p>Out Of Stock</p>
                                                        <% } %>
                                                    </span>
                                                </td>
                                                <td class="text-right" data-title="Cart">
                                                    <button class="btn btn-success" onclick="addToCart('<%= data[i].productId %>')">Add to Cart</button>
                                                </td>
                                               <td class="action" data-title="Remove">
    <button 
        class="btn btn-danger btn-sm"
        onclick="removeFromWishlist('<%= data[i].productId %>')">
        <i class="fi-rs-trash"></i>
    </button>
</td>

                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="https://cdn.dribbble.com/users/844846/screenshots/2981974/media/ae264d741cae09c2377235d9705f9cbc.png?resize=800x600&vertical=center" alt="No products in Wishlist">
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
        
    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>


<script>
    
function removeFromWishlist(productId) {

    Swal.fire({
        title: 'Remove from Wishlist?',
        text: 'Are you sure you want to remove this item?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, remove it',
        cancelButtonText: 'Cancel'
    }).then((result) => {

        if (!result.isConfirmed) return;

        fetch(`/deleteWishlist?id=${productId}`, {
            method: "GET"
        })
        .then(res => res.json())
        .then(res => {

            if (res.status === true) {
                Swal.fire({
                    title: 'Removed!',
                    text: 'Item removed from wishlist',
                    icon: 'success',
                    timer: 1500,
                    showConfirmButton: false
                }).then(() => {
                    
                });

            } else {
                Swal.fire('Error', 'Unable to remove item', 'error');
            }

        })
        .catch(err => {
            console.error(err);
            // Swal.fire('Error', 'Something went wrong!', 'error');
            location.reload();
        });
    });
}
</script>


<script>
function addToCart(prodId) {

    Swal.fire({
        title: 'Add to Cart?',
        text: 'Do you want to add this product to your cart?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#28a745',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, add it!',
        cancelButtonText: 'Cancel'
    }).then((result) => {

        if (!result.isConfirmed) return;

        fetch(`/addToCart?id=${prodId}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ quantity: 1 })
        })
        .then(res => res.json())
        .then(res => {

            if (res.status === true) {

                Swal.fire({
                    title: 'Added to Cart!',
                    text: 'Product successfully added',
                    icon: 'success',
                    timer: 1500,
                    showConfirmButton: false
                }).then(() => {

                    // ✅ REMOVE FROM WISHLIST
                   removeFromWishlist(prodId);

                });

            } else if (res.status === "Out of stock") {

                Swal.fire({
                    title: 'Out of Stock!',
                    text: 'This product is currently unavailable',
                    icon: 'error'
                });

            } else {

                Swal.fire({
                    title: 'Login Required',
                    text: 'Please login to continue',
                    icon: 'warning'
                }).then(() => {
                    window.location.href = '/login';
                });

            }
        })
        .catch(err => {
            console.error(err);
            Swal.fire('Error', 'Something went wrong!', 'error');
        });
    });
}
</script>



    <%- include("../partials/footer") %>